*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #1f1f1f;
}

.container{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.container div{
    width: 70%;
    margin: 0 auto;
}

h1{
    color: #2d3ca9;
    margin-bottom: 10px;
    
}

input,
button{
    display: block;
    height: 30px;
    margin-top: 8px;
    width: 100%;
}

button{
    color:#ffffff;
    background-color: #2d3ca9;
    border: none;
    padding: 4px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 13px;
}

p{

    margin-top: 8px;
}