*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #1f1f1f;
}

.container{
    
}

h1{
    color: #2d3ca9;
    margin-bottom: 10px;
}

input,
button{
    display: block;
    height: 30px;
    width: 400px;
    margin-bottom: 8px;
}

button{
    color:#ffffff;
    background-color: #2d3ca9;
    border: none;
    margin: 8px 0;
}